<diV class="old-comment-wrapper">
  <diV
    class="old-comment-wrapper"
    *ngFor="let comment of allComments; let i = index"
    [attr.id]="comment.id"
  >
    <div class="old-comment comments">
      <app-comments-voting
        (addPoints)="addPointsUser($event)"
        (minusPoints)="decreasePoints($event)"
        [id]="comment.id"
        [commentScore]="comment.score"
      ></app-comments-voting>

      <div class="old-comment-content">
        <div class="old-comment-info">
          <div class="old-comment-img">
            <img [src]="'../../assets/' + comment.user.image.png" alt="" />
          </div>
          <div class="username">{{ comment.user.username }}</div>
          <div
            class="user"
            *ngIf="currentUser.username === comment.user.username"
          >
            you
          </div>
          <div class="old-comment-date">{{ comment.createdAt }}</div>
          <button
            class="old-comment-reply-btn"
            *ngIf="currentUser.username !== comment.user.username"
            (click)="reply(i + 1, comment.id)"
          >
            <img src="../../assets/images/icon-reply.svg" alt="" />Reply
          </button>
          <button
            class="user-comment-delete-btn"
            *ngIf="currentUser.username === comment.user.username"
          >
            <img
              src="../../assets/images/icon-delete.svg"
              alt="Delete icon"
            />Delete
          </button>
          <button
            class="user-comment-edit-btn"
            *ngIf="currentUser.username === comment.user.username"
          >
            <img src="../../assets/images/icon-edit.svg" alt="Edit icon" />Edit
          </button>
        </div>
        <div class="old-comment-text">
          {{ comment.content }}
        </div>
      </div>
    </div>
    <app-new-reply
      *ngIf="i + 1 == id"
      (addNewReply)="addNewReplyfn($event)"
      [currentUser]="currentUser"
      [sumOfAllComments]="sumOfAllComments"
      [id]="comment.id"
    ></app-new-reply>

    <div *ngIf="comment.replies.length > 0">
      <div *ngFor="let reply of comment.replies; let i = index">
        <div
          class="old-comment old-comment-reply user-comments"
          [attr.id]="reply.id"
        >
          <app-comments-voting
            (addPoints)="addPointsUser($event)"
            (minusPoints)="decreasePoints($event)"
            [id]="reply.id"
            [commentScore]="reply.score"
          ></app-comments-voting>
          <div class="old-comment-content">
            <div class="old-comment-info">
              <div class="old-comment-img">
                <img [src]="'../../assets/' + reply.user.image.png" alt="" />
              </div>
              <div class="username">{{ reply.user.username }}</div>
              <div
                class="user"
                *ngIf="currentUser.username === reply.user.username"
              >
                you
              </div>
              <div class="old-comment-date">{{ reply.createdAt }}</div>
              <button
                class="old-comment-reply-btn"
                (click)="selectedReplyChange(reply)"
                *ngIf="currentUser.username !== reply.user.username"
              >
                <img src="../../assets/images/icon-reply.svg" alt="" />Reply
              </button>
              <button
                class="user-comment-delete-btn"
                *ngIf="currentUser.username === reply.user.username"
              >
                <img
                  src="../../assets/images/icon-delete.svg"
                  alt="Delete icon"
                />Delete
              </button>
              <button
                class="user-comment-edit-btn"
                *ngIf="currentUser.username === reply.user.username"
              >
                <img
                  src="../../assets/images/icon-edit.svg"
                  alt="Edit icon"
                />Edit
              </button>
            </div>
            <!-- <app-edit-reply [content]="reply.content"></app-edit-reply> -->
            <div class="old-comment-text">
              {{ reply.replyingTo }}{{ reply.content }}
            </div>
            <!-- <div class="old-comment-text">
              <textarea
                class="edit-textarea"
                [(ngModel)]="reply.content"
              ></textarea>
            </div>
            <button class="update-comment-btn">UPDATE</button> -->
          </div>
        </div>
        <app-new-reply
          *ngIf="selectedReplyID == reply.id"
          (addNewReply)="addNewReplyfn($event)"
          [currentUser]="currentUser"
          [sumOfAllComments]="sumOfAllComments"
          [id]="comment.id"
          [replyId]="reply.id"
          (delete)="handler($event)"
        ></app-new-reply>
      </div>
    </div>
  </diV>
</diV>
